// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.bottom-img {
  position: relative;
  top: 100px;
  width: 100%;
}

.img-up {
  position: relative;
  bottom: 18px;
}